.modal-info__text {
  position: relative;
  top: 15vh;
  width: 390px;
  height: 250px;
  background-color: #fffdfe;
  border: 2px solid #b5b5b5;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 20px;
  flex-direction: column;
  margin: auto;
  z-index: 5;

  &__info {
    position: absolute;
    top: 40%;
    width: 330px;
    left: 30px;
    text-align: center;
  }

  &__bttn-close {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 12px;
    right: 15px;
    padding: 0;
    border: none;
    color: inherit;
    cursor: pointer;
    background-color: #fffdfe;
    outline: none;
    font-size: 30px;
    color: black;
  }

  &__bttn-close:active {
    transform: translateY(2px);
    filter: saturate(150%);
    color: #5d0000;
  }

  &__errors {
    position: absolute;
    top: 32%;
    width: 330px;
    left: 30px;
    text-align: center;

    div {
      padding-top: 10px;
    }
  }
}

.modal-info {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(127, 129, 128, 0.37);
  z-index: 5;
}


