.modal-info__text {
  position: relative;
  width: 320px;
  background-color: #f4f4ea;
  border: 2px solid #b5b5b5;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 20px;
  flex-direction: column;
  margin: auto;
  z-index: 5;

  &__info, &__errors {
    padding: 80px 20px;
    text-align: center;
  }

  &__bttn-close {
    position: absolute;
    width: 30px;
    top: 15px;
    right: 15px;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: inherit;
    font-size: 30px;
    color: black;

    &:active {
      transform: translateY(2px);
      filter: saturate(150%);
      color: #5d0000;
    }
  }
}

.modal-info {
  position: absolute;
  display: flex;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(127, 129, 128, 0.37);
  z-index: 5;
}
