@headerColor: rgb(233, 232, 233);

.header {
  flex: 0 0 80px;
  background-color: @headerColor;
  min-width: 600px;
  display: flex;
  border-left: 1px solid rgba(128, 128, 128, 0.4);
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
  border-right: 1px solid rgba(128, 128, 128, 0.4);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  .container-logo {
    flex: 0 1 270px;
    min-width: 265px;
    align-items: center;
    padding-left: 25px;
    display: flex;
    cursor: pointer;

    &__logo {
      background: url(../../../image/logo.png) no-repeat left;
      flex: none;
      width: 90px;
      height: 100%;
    }

    &__discription {
      flex: 1;
      padding-right: 40px;

      .company-name {
        font-size: 20px;
        font-weight: bolder;
        letter-spacing: 2px;
        text-align: center;
      }

      .tagline {
        text-align: center;
        font-size: 15px;
        color: #4c4c4c;
      }
    }
  }

  .container-user {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__user {
      margin-right: 25px;
      height: 30px;
      width: 160px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &__user:hover {
      color: #535353;
    }
  }

  .container-buttons {
    flex: 0 0 220px;
    display: flex;

    button {
      border-bottom-right-radius: 10px;
      width: 100%;
      height: 100%;
      padding: 0;
      border: none;
      font: inherit;
      color: inherit;
      cursor: pointer;
      background-color: @headerColor;
      outline: none;
      border-left: 1px solid #aeb5b9;
      border-right: 1px solid #e6e6e2;
    }

    a {
      width: 50%;
      height: 100%;
      color: black;
    }

    a > button {
      width: 100%;
      height: 100%;
      border-bottom-right-radius: 10px;
    }

    a > button {
      height: 100%;
      padding: 0;
      border: none;
      font: inherit;
      color: inherit;
      cursor: pointer;
      background-color: @headerColor;
      outline: none;
      border-left: 1px solid #e6e6e2;

    }

    button:hover {
      background-color: #f1f1f1;
    }
  }
}
