@import '../../../style/global-variable.less';

.table-workers {

  &__table {

    table {

      tr {
        border-bottom: 1px solid grey;
        background-color: rgba(169, 169, 169, 0.04);
        height: 50px;
      }

      th, td {
        padding-left: 10px;
        padding-right: 10px;
      }

      th {
        border-right: 1px solid grey;

        &:nth-child(1) {
          width: 50px; 
        }
  
        &:nth-child(5) {
          width: 100px;
          min-width: 100px;
          border-right: none;
        }
      }

      td {
        text-align: center;
        border-right: 1px solid grey;

        &:nth-child(2), &:nth-child(3) {
          text-align: left;
          padding-left: 20px;
        }
  
        &:nth-child(5) {
          border-right: none;
          
          button {
            border-left: 1px solid rgba(105, 105, 105, 0.65);
          }
  
          a > button {
            width: 50%;
            height: 28px;
            border: none;
            font-size: 13px;
            color: black;
            cursor: pointer;
            outline: none;
            background-color: inherit;
          }
        }
      }
    }
  }

  &__bttn-add {
    
      a {
        width: 100%;
        height: 100%;

        & > button {
          height: 30px;
          width: 85px;
          padding: 0;
          border: none;
          font: inherit;
          color: black;
          cursor: pointer;
          outline: none;
          border-left: 1px solid #b9b9b5;
          border-radius: 5px;
          background-color: #f4f4f0;

          .MuiSvgIcon-root {
            font-size: 28px;
          }

          &:hover {
            background-color: #f0f0ec;
          }
        }
      }
    }

  &__numbers-pages {

    &__container {

      div {
        
        &:hover {
          background-color: #d1d4d1;
        }
      }

      .active {
        background-color: rgba(209, 212, 209, 0.8);
        cursor: default;
      }
    }

    &__bttn-add {

      a {
        width: 100%;
        height: 100%;

        & > button {
          height: 30px;
          width: 85px;
          padding: 0;
          border: none;
          font: inherit;
          color: black;
          cursor: pointer;
          outline: none;
          border-left: 1px solid #b9b9b5;
          border-radius: 5px;
          background-color: #f4f4f0;

          .MuiSvgIcon-root {
            font-size: 28px;
          }

          &:hover {
            background-color: #f0f0ec;
          }
        }
      }
    }
  }
}

@media screen and (max-width:600px) {
  .table-workers {
    font-size: 14px;
  }
}
@media screen and (min-width:600px) {
  .table-workers {
    font-size: 16px;
  }
}
