body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: darkseagreen;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.app {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 100vh;
    margin: auto;
}

.main {
    flex: 1;
    margin-bottom: 5px;
    margin-top: 5px;
    display: flex;
    min-width: 600px;


    .content {
        flex: 2 1 66%;
        border: 1px solid rgba(128, 128, 128, 0.4);
        border-radius: 5px;
        border-bottom-left-radius: 10px;
        border-bottom-top-radius: 10px;
        background-color: #f5f5eb;
        display: flex;
        align-items: center;
        margin-left: 5px;
        position: relative;
    }
}

.footer {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5eb;
    border-left: 1px solid rgba(128, 128, 128, 0.4);
    border-top: 1px solid rgba(128, 128, 128, 0.4);
    border-right: 1px solid rgba(128, 128, 128, 0.4);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    a {
        padding-left: 50px;
        padding-right: 50px;
        color: black;
        font-size: 14px;
    }

    a:nth-child(2) {
        border-left: 1px solid #babab0;
        border-right: 1px solid #babab0;
    }
}

::-webkit-scrollbar{
    border-color: rgba(255, 171, 109, 0.76);
    width: 14px;
    background-color: rgba(205, 214, 173, 0.7);
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: rgba(255, 171, 109, 0.76);
    background-color: rgba(167, 176, 142, 0.9);
}
::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: rgba(167, 176, 142, 0.9);
}
::-webkit-scrollbar-track{
    border-width:0;
}
::-webkit-scrollbar-track:hover{
    background-color: rgba(178, 187, 150, 0.7);
}
