@import './global-variable.less';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: @app-background-color;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-family: Verdana;
}

.app {
    height: 100vh;
    position: relative;
}

.app-main {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin: auto;
}

.main {
    flex: 1;
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;

    .content {
        background: url(../image/background.png) no-repeat right -10px bottom -10px;
        background-color: @tables-color;
        display: flex;
    }
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: @footer-color;

    a {
        padding-left: 50px;
        padding-right: 50px;
        color: black;
    }

    a:nth-child(2) {
        border-left: 1px solid #babab0;
        border-right: 1px solid #babab0;
    }
}

@media screen and (min-width:600px) {
    .app {
        width: 100vw;
    }

    .app-main {
        width: 80%;
        margin: auto;
    }

    .main {       
        min-width: 695px;

        .content {
            flex: 2 1 66%;
            border-radius: 5px;
            border: @app-border-style;
            box-shadow: @app-box-shadows;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            background-size: 450px 300px;
            align-items: center;
            margin-left: 5px;
        }
    }

    .footer {
        flex: 0 0 30px;
        min-width: 695px;
        box-shadow: @app-box-shadows;
        border-left: @app-border-style;
        border-top: @app-border-style;
        border-right: @app-border-style;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;

        a {
            font-size: 14px;
        }
    }
}

@media screen and (max-width:600px) {
    body {
        font-size: 13px;
    }

    .app {
        width: calc(100vw - (100vw - 100%));
    }

    .app-main {
        width: 100%;
        min-width: 410px;
    }

    .main {
        flex-direction: column-reverse;

        .content {
            flex: 0 0 450px;
            background-size: 240px 160px;
            margin-bottom: 5px;
        }
    }

    .footer {
        flex: 0 0 35px;

        a {
            font-size: 11px;
        }
    }
}

::-webkit-scrollbar{
    border-color: rgba(0, 4, 41, 0.29);
    width: 14px;
    background-color: rgba(0, 4, 41, 0.05);
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: rgba(0, 4, 41, 0.40);
    background-color: rgba(0, 4, 41, 0.09);
}
::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: rgba(0, 4, 41, 0.40);
    background-color: rgba(0, 4, 41, 0.10);
}
::-webkit-scrollbar-track{
    border-width:0;
}
::-webkit-scrollbar-track:hover{
    background-color: rgba(0, 4, 41, 0.05);
}
