@import '../../../style/global-variable.less';

.choose-worker {
  margin: auto;
  display: flex;
  flex-direction: column;

  .buttonHome {
    font-size: 50px;
    position: absolute;
    left: 0;
    padding: 0;
    border: none;
    color: inherit;
    cursor: pointer;
    outline: none;
  }

  &__table {
    padding: 10px 0 10px;
    border-top: 2px solid #b5b5b56b;
    border-bottom: 2px solid #b5b5b56b;
    overflow: auto;
    

    &__worker:hover {
      background-color: rgba(213, 211, 200, 0.46);
    }

    .active {
      background-color: rgba(0, 45, 121, 0.21);
    }
  }

  &__button-confirm {
    button {
      height: 35px;
      width: 90px;
      padding: 0;
      border: none;
      font: inherit;
      color: inherit;
      cursor: pointer;
      background-color: #f2f2e8;
      outline: none;
      border: 1px solid #b5b5b5;
      border-radius: 4px;
    }
  }
}

@media screen and (max-width:695px) {
  .choose-worker {
    width: 100%;
    height: 100%;

    &__table {
      flex: 1 0;
      margin-bottom: 20px;

      &__worker {
        height: 45px;
        margin: 0 20px 0 20px;
        display: flex;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        cursor: pointer;

        .worker-image {
          width: 33px;
          height: 33px;
          margin: auto;
          background-color: #212121;
          margin-left: 15px;
        }

        .worker-info {
          flex: 1 1;
          margin-left: 15px;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;

          &__name {
            margin-top: 3px;
            height: 20px;
          }

          &__city {
            height: 15px;
            font-size: 13px;
          }

          &__rating {
            height: 60px;
            padding: 10px 20px 0 0;
            text-align: right;

          }
        }
      }
    }

    &__button-confirm {
      flex: 0 0 60px;
      padding-left: 40px; 
    }

    &__header {
      margin-top: 20px;
      height: 40px;
      text-align: center;
      font-size: 20px;
    }

    .buttonHome {
      height: calc(100% - 96px);
      width: 45px;
      background-color: rgba(158, 158, 158, 0.041);
      color: rgba(132, 130, 138, 0.58);
      z-index: 3;
      position: fixed;
      top: 62px;
    }
  }
}

@media screen and (min-width:696px) {
  .choose-worker {
    width: 100%;
    height: 100%;

    &__table {
      flex: 1;
      margin-bottom: 30px;

      &__worker {
        height: 60px;
        margin: 0 30px 0 30px;
        display: flex;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        cursor: pointer;

        .worker-image {
          width: 45px;
          height: 45px;
          margin: auto;
          background-color: #212121;
          margin-left: 15px;
        }

        .worker-info {
          flex: 1 1 100px;
          margin-left: 15px;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;

          &__name {
            height: 20px;
            padding-top: 10px;
          }

          &__city {
            font-size: 13px;
          }

          &__rating {
            padding-top: 10px;
            text-align: right;
            padding-right: 20px;
          }
        }
      }
    }

    &__header {
      height: 60px;
      margin-top: 30px;
      text-align: center;
      font-size: 20px;
    }

    &__button-confirm {
      flex: 0 0 80px;
      padding-left: 50px; 
    }

    .buttonHome {
      top: 0;
      height: 95vh;
      width: 10vw;
      background-color: rgba(255, 253, 241, 0);
      color: #f5f5eb;
    }
  }
}
