@import '../../../../client/style/global-variable.less';

.dashboard {
    padding: 10px;

    &__title-calendar {
        border: 1px solid rgba(0, 0, 0, 0.788);
        background-color: white;
        height: 45px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        display: flex;
        align-items: center;

        &__text {
            flex: 1;
            font-size: 17px;
            color: @order-dashboard-color;
            font-weight: bold;
            text-align: center;
        }

        button {
            height: 100%;
        }
    }

    ::-webkit-scrollbar{
        border-color: @tables-color;
        width: 1px;
    }
}

.calendar {
    table-layout: fixed;
    width: 100%;

    &__week-title {
        background-color: @order-dashboard-color;

        &__day {
            font-size: 16px !important;
            font-weight: bold !important;
            color: white !important;
            text-align: center !important;
            padding: 10px 5px !important;
        }
    }
    
    &__calendar-body {
        td {
            border: 1px solid rgba(128, 128, 128, 0.384);
            padding: 5px;
            position: relative;
            vertical-align: bottom;
        }

        &__row {
            &:first-child {
                height: 10px;
            }

            &:nth-child(2n) {
                background-color: rgba(0, 0, 0, 0.041);
            }
        }

        &__day {
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
        }
        
        &__data {
            letter-spacing: 0;
            overflow-y: auto;
            max-height: 120px;
        }
    }
    
    .empty {
        background-color: rgba(24, 78, 82, 0.089);

        .calendar__calendar-body__day {
            background-color: white;
            color: gray;
        }
    }
}

@media screen and (min-width:696px) {
    .calendar {
        &__calendar-body {
            &__row {
                height: 120px;
            }

            &__day {
                font-size: 12px;
                width: 20px;
                height: 20px;
                right: 5px;
                top: 5px;
                border: 1px solid rgba(0, 0, 0, 0.473);
                border-radius: 50%;
                background-color: rgb(255, 255, 255);
            }

            &__data-for-responsive {
                display: none;
            }
        }
    }
}

@media screen and (max-width:696px) {
    .calendar {
        &__calendar-body {
            td {
                vertical-align: middle;
            }

            &__row {
                height: 60px;
            }

            &__day {
                font-size: 9px;
                width: 14px;
                height: 14px;
                right: 0px;
                top: 0px;
                color: white;
                background-color: @order-dashboard-color;
            }

            &__data {
                display: none;
            }

            &__data-for-responsive {
                max-height: 60px;
    
                &__container {
                    max-height: 60px;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.075);
                        cursor: pointer;
                    }
                    
                    &__title {
                        font-size: 17px;
                        text-align: center;
                        color: rgb(0, 0, 122);
                    }
                }
            }
        }

        .calendar__calendar-body__day {
            background-color: @order-dashboard-color;
        }
        
    }
}
