.admin-content {
  width: 79vw;
  height: 85vh;
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-radius: 5px;
  margin-left: 5px;
  background-color: #f4f4f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  magrin: auto;
  position: relative;

  &__navigation {
    position: absolute;
    right: 0;
    top: 10px;

    a {
      width: 130px;
      height: 20px;
      color: #7c7f7c;
      display: flex;
      justify-content: right;
    }

    a > button {
      height: 100%;
      width: 100%;
      padding: 0;
      border: none;
      font: inherit;
      color: inherit;
      background-color: inherit;
      cursor: pointer;
      outline: none;
    }
  }

  .work-space {
    height: 90%;
    width: 90%;
    margin-top: 2%;
    overflow: auto;
    magrin: auto;

    &__welcome {
      text-align: center;
      padding-top: 20vh;
    }
  }
}