.admin-content {
  width: 79vw;
  height: 85vh;
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-radius: 5px;
  margin-left: 5px;
  background-color: #f4f4f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  magrin: auto;

  .work-space {
    height: 90%;
    width: 90%;
    overflow: auto;
    magrin: auto;
    margin-top: 3%;
  }
}