.main-no-match {
  flex: 1;
  height: 87vh;
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  background-color: #f5f5eb;
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  position: relative;

  &__navigation {
    position: absolute;
    right: 0;
    top: 10px;

    a {
      width: 130px;
      height: 20px;
      color: #7c7f7c;
      display: flex;
      justify-content: right;
    }

    a > button {
      height: 100%;
      width: 100%;
      padding: 0;
      border: none;
      font: inherit;
      color: inherit;
      background-color: inherit;
      cursor: pointer;
      outline: none;
    }
  }

  &__logo {
    width: 80px;
    height: 80px;
    background: url(../../image/notFound.png) no-repeat;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 120px;
  }
}