@import '../../../style/global-variable.less';

.home-page {
  padding-top: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  &__welcome {
    letter-spacing: 0.4px;
    line-height: 2;
    text-indent: 20px;
  }

  &__instruction {
    letter-spacing: 0.2px;
    line-height: 2;
  }
}

@media screen and (min-width:850px) {
  .home-page {
    width: 85%;
    height: 90%;

    &__welcome {
      padding-top: 20px;
    }
  }
}

@media screen and (max-width:850px) {
  .home-page {
    width: 85%;
    height: 100%;
  }
}
