.home-page{
  width: 85%;
  height: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;

  &__welcome {
    padding-top: 20px;
    letter-spacing: 0.4px;
    line-height: 2;
    text-indent: 20px;
  }

  &__instruction {
    letter-spacing: 0.2px;
    line-height: 2;
  }
}