@import '../../../style/global-variable.less';

.home-page {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__welcome {
    letter-spacing: 0.4px;
    line-height: 2;
    text-indent: 10px;
  }

  &__instruction {
    margin: 40px 40px 0 40px;
    letter-spacing: 0.2px;
    line-height: 2;
  }
}

@media screen and (min-width:695px) {
  .home-page {

    &__welcome {
      margin: 80px 40px 0 40px;
    }

    &__instruction {
      margin: 40px 40px 0 40px;
    }
  }
}

@media screen and (max-width:695px) {
  .home-page {

    &__welcome {
      margin: 30px 30px 0 30px;
    }

    &__instruction {
      margin: 20px 30px 0 30px;
    }
  }
}
