@import '../../../style/global-variable.less';
@import '../../../style/mixins/index.less';

.table-clocks {
  .root-table;

  &__title {
    .table-title;
  }

  &__table {
    .root-table__table;

    table {
      .html-table;

      tr {
        border-bottom: 1px solid grey;
        background-color: rgba(169, 169, 169, 0.04);
        height: 50px;
      }

      th, td {
        padding-left: 10px;
        padding-right: 10px;
      }

      th {
        border-right: 1px solid grey;

        &:nth-child(1) {
          width: 50px;
        }
  
        &:nth-child(4) {
          border-right: none;
          width: 100px;
        }
      }

      td {
        text-align: center;
        border-right: 1px solid grey;

        &:nth-child(4) {
          border-right: none;

          button {
            .button-refactor-models;
            border-left: 1px solid rgba(105, 105, 105, 0.65);
          }
  
          a > button {
            .button-refactor-models;
          }
        }
      }
    }
  }

  &__numbers-pages {
    .numbers-pages;

    &__container {
      .container-number-pages;

      div {
        .number-one-page;
        
        &:hover {
          background-color: #d1d4d1;
        }
      }

      .active {
        background-color: rgba(209, 212, 209, 0.8);
        cursor: default;
      }
    }

    &__bttn-add {
      .container-bttn-add;

      a {
        width: 100%;
        height: 100%;

        & > button {
          .container-bttn-add__bttn-add;

          .MuiSvgIcon-root {
            font-size: 28px;
          }

          &:hover {
            background-color: #f0f0ec;
          }
        }
      }
    }
  }
}

@media screen and (max-width:600px) {
  .table-clocks {
    font-size: 14px;
  }
}
@media screen and (min-width:600px) {
  .table-clocks {
    font-size: 16px;
  }
}
